
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1; 
    filter: blur(0.5px);
}    
body {
    background-color: black;
    color: white;
}

/* Vertical Navigation Bar */
.navbar_ver {
    background-color: rgba(7, 5, 5, 0.7);
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    position: fixed;
    

}
.navbar_ver ul {
    list-style-type: none;
}


.menu_ver a {
    padding: 20px 45px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    display: block;
}
.menu_ver a:hover {
    background-color: gray;

}
.logo_ver img {
    width: 100%;
    display: block;
}
.textbox {
    background-color: rgb(0, 0, 0, 0.5);
    position: relative;
    top: 100px;
    left: 200px;
    font-size: 20px;
    color: #000;
    resize: none;
    z-index: 1; 
    text-align: right;
    padding: 10px;
    line-height: 20px;
    white-space: nowrap;
}
.Label{
    position: relative;
    top: 85px;
    left: 300px;
    color : black;
}
.button-container {
    position: relative;
    top: 100px;
    left: 200px;
}
.calc-button {
    width: 60px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form {
    background-color: rgb(0, 0, 0, 0.5);
    position: relative;
    height: 200px;
    width: 250px;
    top: 150px;
    left: 500px;
    font-size: 30px;
}

.decrement {
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.increment{
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    right: 0px;
}
.form span {
    background-color: rgba(252, 244, 244, 0.247);
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    padding: 5px 10px;
}
.reset {
    position: absolute;
    width: 80px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}