.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.todoContainer{
    position: relative;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    font-size: 2em;
    color:black;
    margin-bottom: 0;
}
.icon{
    padding-right: 8px;
    width: 6%;
    height: 6%;
}
.subtitle{
    margin-top: 0;
    text-align: center;
}
.inputArea{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}